.container {
   margin: 0;
    display: flex;
    background: white;
    justify-content: center;
    
    height:100%;
   border-radius: 10px;
   box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.2);
 }



.container-qr{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 
    
}
.container-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
}

.image-qr-code{
   width: 100%;
    border-radius: 5px;
    height:auto;
    max-width: 300px;
    display:block;}

